@charset "utf-8";
/* Ugh, is there a better way to handle these next two? */
@media only screen {
  html,
  body {
    background: #282828;
    height: 100%;
  }
  body.off-canvas {
    padding-top: 48px;
  }
  .off-canvas .gov-pull-down-container {
    position: absolute;
    top: 0;
  }
  .off-canvas .gov-pull-down {
    height: 40px;
    width: 44px;
  }
  .off-canvas .gov-bar {
    position: absolute;
    width: 100%;
  }
  .off-canvas .gov-bar form {
    margin: 0;
  }
  .off-canvas .site-bar {
    position: absolute;
    width: 100%;
  }
  .off-canvas .global-nav {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  .off-canvas .global-nav .sub-menu-title {
    display: inline-block;
    color: #AAA;
    font-size: 1.45em;
    position: relative;
    left: 20%;
    line-height: 48px;
    padding-top: 0.15em;
  }
  .off-canvas .global-nav .nav-container {
    height: inherit;
    overflow-y: scroll;
  }
  .off-canvas .global-nav .nav-container > ul {
    min-height: 1000px;
  }
  .off-canvas .global-nav ul {
    margin-left: 16%;
  }
  .off-canvas .global-nav ul li {
    padding-left: 3%;
  }
  .off-canvas .global-nav ul ul {
    background: #333 !important;
    display: block;
    height: 100%;
    left: 100%;
    position: fixed;
    top: 53px;
    width: 100%;
    background: #333;
    -webkit-transition: left 0.2s ease;
    transition: left 0.2s ease;
  }
  .off-canvas .global-nav ul ul li {
    padding-left: 2% !important;
  }
  .off-canvas .global-nav .menu-controls {
    height: 53px;
  }
  .off-canvas .global-nav .menu-controls .menu-back {
    float: right;
    background-color: #7c7c7c;
    background-image: -webkit-linear-gradient(top, #999999, #505050);
    background-image: linear-gradient(to bottom, #999999, #505050);
    background-repeat: repeat-x;
    border-radius: 5px;
    background-clip: padding-box;
    color: #fff;
    margin: 10px;
    padding: 7px 7px 7px 1px;
    visibility: hidden;
  }
  .off-canvas.active-sub-menu .global-nav .menu-controls .menu-back {
    visibility: visible;
  }
  .off-canvas .global-nav .active-menu {
    left: 0;
    z-index: 1;
  }
  .off-canvas .page {
    position: relative;
    height: auto;
    min-height: 100%;
    top: 0;
    width: 100%;
  }
  .off-canvas .gov-pull-down,
  .off-canvas .gov-pull-down-container,
  .off-canvas .gov-bar,
  .off-canvas .site-bar,
  .off-canvas .page {
    -webkit-transition: top 0.2s ease, left 0.2s ease, height 0.2s ease;
    transition: top 0.2s ease, left 0.2s ease, height 0.2s ease;
  }
  .off-canvas.active-gov-bar .gov-pull-down-container,
  .off-canvas.active-gov-bar .site-bar {
    top: 88px;
  }
  .off-canvas.active-site-menu .gov-pull-down,
  .off-canvas.active-site-menu .gov-pull-down-container,
  .off-canvas.active-site-menu .gov-bar,
  .off-canvas.active-site-menu .site-bar,
  .off-canvas.active-site-menu .page {
    position: fixed;
    left: -82%;
  }
  .off-canvas.active-site-menu .global-nav .icon-right-open:before {
    padding-top: 3px;
    position: absolute;
    right: 5%;
  }
  .off-canvas.active-site-menu .mobile-menu-button {
    box-shadow: inset 6px 0px 8px -2px #000000;
  }
  .off-canvas.active-site-menu .page {
    box-shadow: 5px 49px 8px #000;
  }
  .off-canvas.active-site-menu .footer {
    left: -82%;
  }
}
@media only screen and (min-width: 48em) {
  .off-canvas.active-site-menu .global-nav .icon-right-open:before {
    position: relative;
    right: auto;
  }
  .off-canvas.active-site-menu .page {
    box-shadow: none;
  }
  .off-canvas.active-site-menu .footer {
    left: auto;
  }
}
@media only screen and (min-width: 60em) {
  .global-nav .nav-container {
    border-radius: 4px;
    background-clip: padding-box;
  }
}
/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 48em) {
  body.off-canvas {
    padding-top: 0;
  }
  .off-canvas .gov-bar,
  .off-canvas .site-bar,
  .off-canvas .global-nav,
  .off-canvas .page {
    position: relative;
  }
  .off-canvas.active-site-menu .gov-bar,
  .off-canvas.active-site-menu .site-bar,
  .off-canvas.active-site-menu .global-nav,
  .off-canvas.active-site-menu .page {
    left: auto;
    position: relative;
  }
  .off-canvas.active-gov-bar .site-bar {
    top: 0;
  }
  .off-canvas .global-nav {
    height: 46px;
    overflow: visible;
    z-index: 30;
  }
  .off-canvas .global-nav ul li {
    padding-left: 0;
  }
  .off-canvas .global-nav .menu-controls {
    display: none;
  }
  .off-canvas .global-nav .nav-container,
  .off-canvas.active-site-menu .global-nav .nav-container {
    overflow: hidden;
  }
  .off-canvas .global-nav .nav-container > ul,
  .off-canvas.active-site-menu .global-nav .nav-container ul {
    min-height: auto;
  }
  .off-canvas .global-nav ul,
  .off-canvas.active-site-menu .global-nav ul {
    margin-left: 0;
  }
  .off-canvas .global-nav ul ul {
    position: absolute;
    top: 50px !important;
    left: 0;
    background: #454545 !important;
    /* M */
  
    border-radius: 4px !important;
    /* Do not use mixin here */
  
    background-clip: padding-box !important;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: left 0s ease;
    transition: left 0s ease;
  }
  .off-canvas .global-nav ul ul li {
    border-right: 1px solid #000;
    border-left: 1px solid #666;
  }
  .off-canvas .global-nav ul ul li:first {
    border-left: none;
  }
  .off-canvas .global-nav ul ul.active-menu {
    visibility: visible;
  }
  .off-canvas .global-nav ul ul.active-menu li {
    padding: 0 !important;
  }
  .off-canvas .global-nav .active-menu li {
    padding-left: 0;
    border-bottom: 0;
  }
  .off-canvas .global-nav .active-menu li a {
    border-radius: 4px;
    background: #454545 !important;
  }
  .off-canvas .page {
    min-height: auto;
    top: -23px;
    left: 0;
  }
}
