@mixin bold() {
  font-family: $font-sans-bold;
  font-weight: normal;
}

@mixin italic() {
  font-family: $font-sans-italic;
  font-style: normal;
}

@mixin bold-italic() {
  font-family: $font-sans-bold-italic;
  font-weight: normal;
  font-style: normal;
}

@mixin font-serif() {
  font-family: $font-serif;
  font-weight: normal !important;
  font-style: normal !important;
}

@mixin radius($val) {
  border-radius: $val;
  background-clip: padding-box;
}

// Apply button styles to any element
@mixin button() {
  display: inline-block;
  margin-bottom: 0;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-decoration: none;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image:         linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);

  &:hover {
    text-decoration: none;
  }
}
