@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/source-sans-pro/SourceSansPro-Regular.eot");
  src: url("../fonts/source-sans-pro/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/source-sans-pro/SourceSansPro-Regular.woff") format("woff"),
       url("../fonts/source-sans-pro/SourceSansPro-Regular.ttf") format("truetype"),
       url("../fonts/source-sans-pro/SourceSansPro-Regular.svg#SourceSansProRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansProItalic";
  src: url("../fonts/source-sans-pro/SourceSansPro-It.eot");
  src: url("../fonts/source-sans-pro/SourceSansPro-It.eot?#iefix") format("embedded-opentype"),
       url("../fonts/source-sans-pro/SourceSansPro-It.woff") format("woff"),
       url("../fonts/source-sans-pro/SourceSansPro-It.ttf") format("truetype"),
       url("../fonts/source-sans-pro/SourceSansPro-It.svg#SourceSansProItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansProBold";
  src: url("../fonts/source-sans-pro/SourceSansPro-Bold.eot");
  src: url("../fonts/source-sans-pro/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/source-sans-pro/SourceSansPro-Bold.woff") format("woff"),
       url("../fonts/source-sans-pro/SourceSansPro-Bold.ttf") format("truetype"),
       url("../fonts/source-sans-pro/SourceSansPro-Bold.svg#SourceSansProBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansProBoldItalic";
  src: url("../fonts/source-sans-pro/SourceSansPro-BoldIt.eot");
  src: url("../fonts/source-sans-pro/SourceSansPro-BoldIt.eot?#iefix") format("embedded-opentype"),
       url("../fonts/source-sans-pro/SourceSansPro-BoldIt.woff") format("woff"),
       url("../fonts/source-sans-pro/SourceSansPro-BoldIt.ttf") format("truetype"),
       url("../fonts/source-sans-pro/SourceSansPro-BoldIt.svg#SourceSansProBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "MerriweatherRegular";
  src: url("../fonts/merriweather/Merriweather.eot");
  src: url("../fonts/merriweather/Merriweather.eot?#iefix") format("embedded-opentype"),
       url("../fonts/merriweather/Merriweather.woff") format("woff"),
       url("../fonts/merriweather/Merriweather.ttf") format("truetype"),
       url("../fonts/merriweather/Merriweather.svg#MerriweatherRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MerriweatherBold";
  src: url("../fonts/merriweather/Merriweather-Bold.eot");
  src: url("../fonts/merriweather/Merriweather-Bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/merriweather/Merriweather-Bold.woff") format("woff"),
       url("../fonts/merriweather/Merriweather-Bold.ttf") format("truetype"),
       url("../fonts/merriweather/Merriweather-Bold.svg#MerriweatherBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-icons;
  src: url('../fonts/fontello/fontello.eot?16228932');
  src: url('../fonts/fontello/fontello.eot?16228932#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff?16228932') format('woff'),
       url('../fonts/fontello/fontello.ttf?16228932') format('truetype'),
       url('../fonts/fontello/fontello.svg?16228932#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: $font-icons;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-down-open:before { content: $icon-down-open; } /* down open arrow */
.icon-left-open:before { content: $icon-left-open; } /* left open arrow */
.icon-right-open:before { content: $icon-right-open; } /* right open arrow */
.icon-up-open:before { content: $icon-up-open; } /* up open arrow */
