.sticky-header .pull-down-container {
	position: fixed;
	top: 0;
	z-index: 3005;
}

.sticky-header .top-bar {
	position: fixed;
	top: 0;
}

.sticky-header .page {
	top: 48px;
}

/* Active Gov Bar Styles */
.sticky-header.active-top-bar .site-bar {
	top: 88px !important;
}

.sticky-header.active-top-bar .pull-down-container {
	top: 88px;
}
