// gov widget

.govwidget {
  width: 100%;
  min-width: 240px;
  max-width: 450px;
  background-image: -webkit-linear-gradient(bottom, rgb(4,47,90) 20%, rgb(10,70,130) 60%, rgb(4,47,90) 82%);
  background-image:         linear-gradient(bottom, rgb(4,47,90) 20%, rgb(10,70,130) 60%, rgb(4,47,90) 82%);
  text-align: center;
  margin: 0 auto;
}

.govheading {
  background: url(../prototypes/dta/images/stateseal.png) 0.3em 0.3em no-repeat;
  background-size: 58px 58px;

  a {
    color: #fff;
    text-transform: uppercase;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 120%;
    text-shadow: 0.2em 0.2em 0.2em #333;
    padding: 0.8em 0 0.4em 0;
  }

  span {
    display: block;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .govheading {
    background-image: url(../prototypes/dta/images/stateseal@2x.png)
  }
}

.govbutton {
  margin: 0 0.5em;

  a {
    background: #002d56;
    line-height: 0;
  }

  .button {
    border: 1px solid #222;

    &:hover {
      background-color: #162252;
      border: 1px solid #444;
    }
  }
}

@media screen and (max-width: 768px) {
  .margin-top-small {
    margin-top: 1em;
  }
}

// DTA Prototype

.news {
  margin: 0.3em 0.8em;
  border-radius: 8px;
  background: #5082b3;

  strong {
    font-family: "Verdana", sans-serif;
    font-weight: bold;
  }

  img {
    vertical-align: text-top;
  }

  dl {
    background: #eee;
    text-align: left;
    padding: 0.5em 0.3em;
    margin: 0;
  }

  dt {
    font-family: "Verdana", sans-serif;
    font-weight: bold;
    font-size: 0.688em;
    margin: 0;
    line-height: 1.4em;
    padding-bottom: 0.5em;
  }

  a {
    font-weight: normal;
    color: #036;

    &:hover{
      color: #873939;
      text-decoration: underline;
    }
  }
}

.whatsnew {
  padding: 0.2em;
  text-transform: uppercase;
  font-family: "Cambria", sans-serif;
  color: #fff;
}

.facebook {
  a {
    font-size: 0.7em;
    color: #fff;
    text-decoration: none;
    font-family: "Times New Roman", serif;
    padding: 0.3em 0;
    display: block;

    &:hover {
      color: #ff0;
      text-decoration: none;
    }
  }
}

.govurl{
  padding: 0.2em 0 0.5em 0;
}
.govurl a{
  font-family: times new roman;
  color: #fff;
  text-decoration: none;
}
.govurl a:hover{
  color: #ff0;
}

.dta-action .panel {
  overflow:hidden;
}

.dta-action span,
.dta-action a {
  display: block;
  color: #000;
}

.dta-action a, .dta-action a:hover{
  text-decoration: none;
}

.dta-action span.dta-text{
  line-height: 1.6em;
}

.dta-action h4 {
  text-decoration: underline;
}

.dta-action a:hover h4 {
  text-decoration: none;
}

