@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/source-sans-pro/SourceSansPro-Regular.eot");
  src: url("../fonts/source-sans-pro/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/source-sans-pro/SourceSansPro-Regular.woff") format("woff"),
       url("../fonts/source-sans-pro/SourceSansPro-Regular.ttf") format("truetype"),
       url("../fonts/source-sans-pro/SourceSansPro-Regular.svg#SourceSansProRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansProItalic";
  src: url("../fonts/source-sans-pro/SourceSansPro-It.eot");
  src: url("../fonts/source-sans-pro/SourceSansPro-It.eot?#iefix") format("embedded-opentype"),
       url("../fonts/source-sans-pro/SourceSansPro-It.woff") format("woff"),
       url("../fonts/source-sans-pro/SourceSansPro-It.ttf") format("truetype"),
       url("../fonts/source-sans-pro/SourceSansPro-It.svg#SourceSansProItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansProBold";
  src: url("../fonts/source-sans-pro/SourceSansPro-Bold.eot");
  src: url("../fonts/source-sans-pro/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/source-sans-pro/SourceSansPro-Bold.woff") format("woff"),
       url("../fonts/source-sans-pro/SourceSansPro-Bold.ttf") format("truetype"),
       url("../fonts/source-sans-pro/SourceSansPro-Bold.svg#SourceSansProBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansProBoldItalic";
  src: url("../fonts/source-sans-pro/SourceSansPro-BoldIt.eot");
  src: url("../fonts/source-sans-pro/SourceSansPro-BoldIt.eot?#iefix") format("embedded-opentype"),
       url("../fonts/source-sans-pro/SourceSansPro-BoldIt.woff") format("woff"),
       url("../fonts/source-sans-pro/SourceSansPro-BoldIt.ttf") format("truetype"),
       url("../fonts/source-sans-pro/SourceSansPro-BoldIt.svg#SourceSansProBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "MerriweatherRegular";
  src: url("../fonts/merriweather/Merriweather.eot");
  src: url("../fonts/merriweather/Merriweather.eot?#iefix") format("embedded-opentype"),
       url("../fonts/merriweather/Merriweather.woff") format("woff"),
       url("../fonts/merriweather/Merriweather.ttf") format("truetype"),
       url("../fonts/merriweather/Merriweather.svg#MerriweatherRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MerriweatherBold";
  src: url("../fonts/merriweather/Merriweather-Bold.eot");
  src: url("../fonts/merriweather/Merriweather-Bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/merriweather/Merriweather-Bold.woff") format("woff"),
       url("../fonts/merriweather/Merriweather-Bold.ttf") format("truetype"),
       url("../fonts/merriweather/Merriweather-Bold.svg#MerriweatherBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-icons;
  src: url("../fonts/fontello/fontello.eot?54366970");
  src: url("../fonts/fontello/fontello.eot?54366970#iefix") format("embedded-opentype"),
       url("../fonts/fontello/fontello.woff?54366970") format("woff"),
       url("../fonts/fontello/fontello.ttf?54366970") format("truetype"),
       url("../fonts/fontello/fontello.svg?54366970#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: $font-icons;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-up-dir:before { content: '\25b4'; }
.icon-right-dir:before { content: '\25b8'; }
.icon-down-dir:before { content: '\25be'; }
.icon-left-dir:before { content: '\25c2'; }
.icon-cancel:before { content: '\2715'; }
.icon-list:before { content: '\e005'; }
.icon-comment-1:before { content: '\e718'; }
.icon-comment-alt:before { content: '\e71a'; }
.icon-chat:before { content: '\e720'; }
.icon-down-open:before { content: '\e75c'; }
.icon-left-open:before { content: '\e75d'; }
.icon-right-open:before { content: '\e75e'; }
.icon-up-open:before { content: '\e75f'; }
.icon-down-open-mini:before { content: '\e760'; }
.icon-left-open-mini:before { content: '\e761'; }
.icon-right-open-mini:before { content: '\e762'; }
.icon-up-open-mini:before { content: '\e763'; }
.icon-down-open-big:before { content: '\e764'; }
.icon-left-open-big:before { content: '\e765'; }
.icon-right-open-big:before { content: '\e766'; }
.icon-up-open-big:before { content: '\e767'; }
.icon-phone-squared:before { content: '\f098'; }
.icon-comment-empty:before { content: '\f0e5'; }
.icon-chat-empty:before { content: '\f0e6'; }
.icon-comment:before { content: '\f4ac'; }
.icon-search-3:before { content: '\f50d'; }
.icon-phone:before { content: '\1f4de'; }
.icon-phone-1:before { content: '\e800'; }
.icon-search:before { content: '\1f50d'; }
.icon-search-1:before { content: '\e801'; }
.icon-search-2:before { content: '\e802'; }
