@media only screen {

	/* Footer */
	.footer {
		width: 100%;
		background: #282828;
		bottom: 0;
		padding: 1em 0;
		position: relative;
		z-index: 5;
	}

	.footer .footer-links, .footer .footer-images {
		overflow: hidden;
	}

	.footer .footer-images {
		padding: 0 1.1em;
	}

	.footer ul {
		overflow: hidden;
		list-style: none;
		margin: 0;
		padding: 0;
		float: left;
	}

	.footer li {
		overflow: hidden;
		padding: 0 2.9em 1.1em 1.1em;
		font-family: "SourceSansPro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
		float: left;
	}

	.footer h4 {
		font-size: 1.1em;
		margin-bottom: 0.2em;
		font-family: "SourceSansPro", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
		color: #fff;
	}

	.footer li h4 a {
		color: #fff;
		text-decoration: none;
	}

	.footer li a {
		font-size: 1em;
		color: #aaa;
		text-decoration: none;
	}

	.footer li :hover {
		color: #2ba6cb;
	}

	.footer ul li ul li {
		float: none;
		padding: 0;
		margin: 0;
		line-height: 1.4em;
	}

 	.footer-line {
 		border-top: 1px solid #333;
 		height: 1px;
 		margin: 0 0 1em 0;
 	}
 }

 @media only screen and (min-width: 48em) {

	.footer .footer-links, .footer .footer-images {
		overflow: hidden;
		margin: 0 auto;
		width: 100%;
		max-width: 60em;
	}
 }
