// Generic Classes

.no-wrap {
  white-space: nowrap;
}

.align-center {
  text-align: center;
}

.bulleted-list {
  list-style-position: outside;
  margin-left: 1em;
}

.padding-sides-none {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.margin-top-xlarge {
  margin-top: 2em;
}

.scrollable-x {
  overflow-x: scroll;
}

.radius {
  @include radius(4px);
}

.unsupported-browser-message {
  margin: 1em 0 0.5em 0;
  text-align: center;
  font-size: 110%;
  line-height: 120%;
}

.row {
  padding-bottom:1em;
}
