/* Image to lists */

.image-to-list li {
  float: none;
}

.image-to-list a {
  color: #2ba6cb;
  text-decoration: underline;
}

// Hide images and video
.image-to-list a img,
.image-to-list .has-video iframe {
  display: none;
  speak: none;
}

.image-to-list a span {
  background: none;
  margin-top: 0;
}

.image-to-list .video-container .has-video a span {
  display: none !important;
}

@media only screen and (min-width: 24em) {
  .image-to-list a {
    color: #efefef;
    display: block;
    text-decoration: none;
  }

  .image-to-list a img,
  .image-to-list .has-video iframe {
    display: block;
    speak: normal;
  }

  .image-to-list a iframe {
    height: 100%;
  }

  .image-to-list a span {
    background: rgba(0, 0, 0, 0.7);
    display: block;
    padding: 7px;
    position: relative;
    margin-top:  -40px;
  }

  .image-to-list li.large-3:nth-child(5n),
  .image-to-list li.small-3:nth-child(5n) {
    float: left;
    clear: both !important;
  }

  .image-to-list li[class*="large-"]:last-child,
  .image-to-list li[class*="small-"]:last-child {
    float: left; // Foundation override
  }
}
