// Touch-enabled device targeting
.show-for-no-touch { display: none !important; }
.hide-for-no-touch { display: inherit !important; }
.hide-for-no-touch li, li.hide-for-no-touch { display: list-item !important; }
.no-touch .show-for-no-touch { display: inherit !important; }
.no-touch .show-for-no-touch li, .no-touch li.show-for-no-touch { display: list-item !important; }
.no-touch .hide-for-no-touch { display: none !important; }

// Off-screen
.hide-off-screen {
  display: block !important;
  position: absolute !important;
  left: -9999em !important;
  top: -9999em !important;
}

// Monitor sizes
// Only one of the following will be present and it is not affected by resizing or orientation change

// Up to and including 480px
.show-for-screen-max-tiny { display: none !important; }
.hide-for-screen-max-tiny { display: inherit !important; }
.hide-for-screen-max-tiny li, li.hide-for-screen-max-tiny { display: list-item !important; }
.screen-max-tiny .show-for-screen-max-tiny { display: inherit !important; }
.screen-max-tiny .show-for-screen-max-tiny li, .screen-max-tiny li.show-for-screen-max-tiny { display: list-item !important; }
.screen-max-tiny .hide-for-screen-max-tiny { display: none !important; }

// Up to 767px (only `small-` classes will apply)
.show-for-screen-max-small { display: none !important; }
.hide-for-screen-max-small { display: inherit !important; }
.hide-for-screen-max-small li, li.hide-for-screen-max-small { display: list-item !important; }
.screen-max-small .show-for-screen-max-small { display: inherit !important; }
.screen-max-small .show-for-screen-max-small li, .screen-max-small li.show-for-screen-max-small { display: list-item !important; }
.screen-max-small .hide-for-screen-max-small { display: none !important; }

// 768px and higher (can show effects of both `small-` and `large-` classes)
.show-for-screen-max-large { display: none !important; }
.hide-for-screen-max-large { display: inherit !important; }
.hide-for-screen-max-large li, li.hide-for-screen-max-large { display: list-item !important; }
.screen-max-large .show-for-screen-max-large { display: inherit !important; }
.screen-max-large .show-for-screen-max-large li, .screen-max-large li.show-for-screen-max-large { display: list-item !important; }
.screen-max-large .hide-for-screen-max-large { display: none !important; }

// IE classes
.lt-ie9 .hide-for-lt-ie9 { display: none !important; }
.show-for-lt-ie9 { display: none !important; }
.lt-ie9 .show-for-lt-ie9 { display: inherit !important; }
.lt-ie9 .show-for-lt-ie9 li, .lt-ie9 li.show-for-lt-ie9 { display: list-item !important; }

.ie9 .hide-for-ie9 { display: none !important; }
.show-for-ie9 { display: none !important; }
.ie9 .show-for-ie9 { display: inherit !important; }
.ie9 .show-for-ie9 li, .ie9 li.show-for-ie9 { display: list-item !important; }

.oldie .hide-for-oldie { display: none !important; }
.show-for-oldie { display: none !important; }
.oldie .show-for-oldie { display: inherit !important; }
.oldie .show-for-oldie li, li.hide-for-oldie { display: list-item !important; }
