@media only screen {
  /* line 6, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\000036}}
  html,
  body {
    background: #282828;
    height: 100%;
  }
  /* line 12, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\0000312}}
  body.off-canvas {
    padding-top: 48px;
  }
  /* line 18, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\0000318}}
  .off-canvas .gov-pull-down-container {
    position: absolute;
    top: 0;
  }
  /* line 23, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\0000323}}
  .off-canvas .gov-pull-down {
    height: 40px;
    width: 44px;
  }
  /* line 28, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\0000328}}
  .off-canvas .gov-bar {
    position: absolute;
    width: 100%;
  }
  /* line 33, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\0000333}}
  .off-canvas .gov-bar form {
    margin: 0;
  }
  /* line 37, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\0000337}}
  .off-canvas .site-bar {
    position: absolute;
    width: 100%;
  }
  /* line 42, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\0000342}}
  .off-canvas .global-nav {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
  /* line 50, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\0000350}}
  .off-canvas .global-nav .sub-menu-title {
    display: inline-block;
    color: #AAA;
    font-size: 1.45em;
    position: relative;
    left: 20%;
    line-height: 48px;
    padding-top: 0.15em;
  }
  /* line 60, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\0000360}}
  .off-canvas .global-nav .nav-container {
    height: inherit;
    overflow-y: scroll;
  }
  /* line 65, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\0000365}}
  .off-canvas .global-nav .nav-container > ul {
    min-height: 1000px;
  }
  /* line 69, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\0000369}}
  .off-canvas .global-nav ul {
    margin-left: 16%;
  }
  /* line 73, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\0000373}}
  .off-canvas .global-nav ul li {
    padding-left: 3%;
  }
  /* line 77, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\0000377}}
  .off-canvas .global-nav ul ul {
    background: #333 !important;
    display: block;
    height: 100%;
    left: 100%;
    position: fixed;
    top: 53px;
    width: 100%;
    background: #333;
    -webkit-transition: left 0.2s ease;
    transition: left 0.2s ease;
  }
  /* line 89, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\0000389}}
  .off-canvas .global-nav ul ul li {
    padding-left: 2% !important;
  }
  /* line 93, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\0000393}}
  .off-canvas .global-nav .menu-controls {
    height: 53px;
  }
  /* line 97, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\0000397}}
  .off-canvas .global-nav .menu-controls .menu-back {
    background-image: -webkit-linear-gradient(#999999, #505050);
    background-image: linear-gradient(#999999, #505050);
    border-radius: 5px;
    background-clip: padding-box;
    color: #fff;
    float: right;
    margin: 10px;
    padding: 7px 7px 7px 1px;
    visibility: hidden;
  }
  /* line 108, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003108}}
  .off-canvas.active-sub-menu .global-nav .menu-controls .menu-back {
    visibility: visible;
  }
  /* line 112, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003112}}
  .off-canvas .global-nav .active-menu {
    left: 0;
  }
  /* line 116, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003116}}
  .off-canvas .page {
    position: relative;
    height: auto;
    min-height: 100%;
    top: 0;
    width: 100%;
  }
  /* line 124, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003124}}
  .off-canvas .gov-pull-down,
  .off-canvas .gov-pull-down-container,
  .off-canvas .gov-bar,
  .off-canvas .site-bar,
  .off-canvas .page {
    -webkit-transition: top 0.2s ease, left 0.2s ease, height 0.2s ease;
    transition: top 0.2s ease, left 0.2s ease, height 0.2s ease;
  }
  /* line 133, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003133}}
  .off-canvas.active-gov-bar .gov-pull-down-container,
  .off-canvas.active-gov-bar .site-bar {
    top: 88px;
  }
  /* line 138, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003138}}
  .off-canvas.active-site-menu .gov-pull-down,
  .off-canvas.active-site-menu .gov-pull-down-container,
  .off-canvas.active-site-menu .gov-bar,
  .off-canvas.active-site-menu .site-bar,
  .off-canvas.active-site-menu .page {
    position: fixed;
    left: -82%;
  }
  /* line 147, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003147}}
  .off-canvas.active-site-menu .mobile-menu-button {
    box-shadow: inset 6px 0px 8px -2px #000000;
  }
  /* line 151, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003151}}
  .off-canvas.active-site-menu .page {
    box-shadow: 5px 49px 8px #000;
  }
  /* line 155, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003155}}
  .off-canvas.active-site-menu .footer {
    left: -82%;
  }
}
@media only screen and (min-width: 60em) {
  /* line 165, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003165}}
  .global-nav .nav-container {
    border-radius: 4px;
    background-clip: padding-box;
  }
}
/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 48em) {
  /* line 173, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003173}}
  body.off-canvas {
    padding-top: 0;
  }
  /* line 178, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003178}}
  .off-canvas .gov-bar,
  .off-canvas .site-bar,
  .off-canvas .global-nav,
  .off-canvas .page {
    position: relative;
  }
  /* line 185, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003185}}
  .off-canvas.active-site-menu .gov-bar,
  .off-canvas.active-site-menu .site-bar,
  .off-canvas.active-site-menu .global-nav,
  .off-canvas.active-site-menu .page {
    left: auto;
    position: relative;
  }
  /* line 193, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003193}}
  .off-canvas.active-gov-bar .site-bar {
    top: 0;
  }
  /* line 197, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003197}}
  .off-canvas .global-nav {
    height: 46px;
    overflow: visible;
    z-index: 30;
  }
  /* line 203, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003203}}
  .off-canvas .global-nav ul li {
    padding-left: 0;
  }
  /* line 207, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003207}}
  .off-canvas .global-nav .menu-controls {
    display: none;
  }
  /* line 211, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003211}}
  .off-canvas .global-nav .nav-container,
  .off-canvas.active-site-menu .global-nav .nav-container {
    overflow: hidden;
  }
  /* line 216, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003216}}
  .off-canvas .global-nav .nav-container > ul,
  .off-canvas.active-site-menu .global-nav .nav-container ul {
    min-height: auto;
  }
  /* line 221, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003221}}
  .off-canvas .global-nav ul,
  .off-canvas.active-site-menu .global-nav ul {
    margin-left: 0;
  }
  /* line 226, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003226}}
  .off-canvas .global-nav ul ul {
    background: #454545 !important;
    /* M */
  
    border-radius: 4px !important;
    background-clip: padding-box !important;
    top: 50px !important;
    left: 0;
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: left 0s ease;
    transition: left 0s ease;
  }
  /* line 237, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003237}}
  .off-canvas .global-nav ul ul.active-menu {
    visibility: visible;
  }
  /* line 241, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003241}}
  .off-canvas .global-nav ul ul.active-menu li {
    padding: 0 !important;
  }
  /* line 245, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003245}}
  .off-canvas .global-nav .active-menu li {
    padding-left: 0;
    border-bottom: 0;
  }
  /* line 250, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003250}}
  .off-canvas .global-nav .active-menu li a {
    border-radius: 4px;
    background: #454545 !important;
  }
  /* line 255, /Users/craig/Dropbox/ITS/excelsior-web-framework/src/less/off-canvas.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/craig\/Dropbox\/ITS\/excelsior-web-framework\/src\/less\/off-canvas\.less}line{font-family:\00003255}}
  .off-canvas .page {
    min-height: auto;
    top: -23px;
    left: 0;
  }
}
